@charset "UTF-8";

/* Geral */
body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    background-color: #09102d;
    color: white;
}
.flex {
    display: flex;
}

a {
    color: #928e8ed8;
    text-decoration: none;
}
span {
    color: #838BC5;
    font-weight: bold;
}
.txt {
    width: 300px;
}
/* topo-do-site */
.topo-do-site {
    background-image: url(imagens/capa_de_cima.jpeg);
    background-repeat: no-repeat;
    background-position: center;  
}
/* quando apertar o botão de 2° capa, é pra abrir o outro papel de parede*/
.topo-do-site-JS {
    background-image: url(imagens/capa-de-cima-JS.jpeg);
    background-repeat: no-repeat;
    background-position: center;  
}
header#topo-do-site .flex {
    /* colocar a logo no canto e o menu no outro */
    justify-content: space-between;
    padding: 20px 30px;
}
.menu-desktop li{
    background-color: #04165c96;
    font-weight: bold;
    display: inline-block;
    padding: 8px;
    transition: 0.5s;
    border: 3px solid #928e8e00;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #00000082;
}
.menu-desktop li:hover {
    color: white;
    background-color: #04165ced;
    transform: scale(1.07);
}

/* topo-do-site | topo-txt */
div#topo-txt {
    text-align: center;
    margin-right: 55%;
    margin-top: 3%;
}

div#topo-txt button {
    background-color: #8e57b2c6;
    font-weight: bold;
    font-size: 16px;
    padding:  14px 25px;
    border: 10px #09102d;
    border-radius: 10px;
    color: white;
    transition: .5s;
}
div#topo-txt button:hover {
    transform: scale(1.07);
    background-color: #7b3ea3e7;
    box-shadow: 3px 3px 10px #09102d82;
}

/* topo-do-site | topo-menu */
div#topo-menu {
    text-align: center;
    background-color: #09102d79;
    margin-top: 104px;
}
div#topo-menu li {
    display: inline-block;
    padding: 10px 20px;
    color: #928e8ed8;
    font-size: 18px;
}

/* sobre */
section#sobre .sobre-txt {
    text-align: center;
    margin: 3% 0;
}
section#sobre .flex {
    flex-wrap: wrap; 
    /*permite que os itens flex quebrem a linha quando não houver espaço suficiente.*/
    justify-content: center;
    gap: 20px;
}

section#sobre .caixa-txt {
    display: flex;  
    width: 400px;
    transition: 0.5s;
    border-radius: 10px;
    border: 3px solid #838bc51d;
    
}
section#sobre .caixa-txt:hover {
    border: 3px solid #838bc575;
    box-shadow:3px 3px 10px #838bc55d;
    transform: scale(1.07);
}

section#sobre .icone img{
    width: 50px;
    margin-top: 20px;
}

section#sobre .caixa-txt .txt {
    padding: 0px 5px;
}

section#sobre .caixa-txt .txt p {
    color: #ffffff6a;
}